absl-py==0.6.1
astor==0.7.1
Augmentor==0.2.3
certifi==2018.8.24
chardet==3.0.4
Click==7.0
cycler==0.10.0
Django==2.1.7
Flask==1.0.2
future==0.17.1
gast==0.2.0
grpcio==1.16.1
gunicorn==19.9.0
h5py==2.8.0
heroku==0.1.4
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib==3.0.2
mock==2.0.0
numpy==1.16.2
opencv-python==3.4.3.18
pbr==5.1.2
Pillow==9.3.0
protobuf==3.6.1
pycosat==0.6.3
pyparsing==2.3.0
python-dateutil==1.5
pytz==2018.9
PyYAML==3.13
requests==2.19.1
ruamel.yaml==0.15.71
scipy==1.1.0
six==1.11.0
tensorboard==1.13.0
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tqdm==4.31.1
urllib3==1.23
Werkzeug==0.14.1
